APP_NAME=

#SUPABASE CLIENT
DATABASE_URL=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

#JWT
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRE=
JWT_REFRESH_EXPIRE=

#REDIS
REDIS_URL=

#GOOGLE CLIENT
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
